<ion-content scroll="false" id="about">
    <ion-slides options="options" slider="data.slider">
        <ion-slide-page>
            <div class="box">
                <h4 class="pageTitle">User stories</h4>
                <h4 class="userStoryTitle">As a diner, I can...</h4>
                <ul>
                  <li><i class="ion-checkmark-circled"></i>browse menu by category;</li>
                  <li><i class="ion-checkmark-circled"></i>search for dishes using keywords;</li>
                  <li><i class="ion-checkmark-circled"></i>create an account or login to my account;</li>
                  <li><i class="ion-checkmark-circled"></i>add dishes to my cart;</li>
                  <li><i class="ion-checkmark-circled"></i>view and edit items in my cart;</li>
                  <li><i class="ion-checkmark-circled"></i>place orders and view my previous orders.</li>
                </ul>
                <h4 class="userStoryTitle">Krispy Foods can...</h4>
                <ul>
                  <li><i class="ion-checkmark-circled"></i>create, update, and delete a menu category;</li>
                  <li><i class="ion-checkmark-circled"></i>create, update, and delete a menu item;</li>
                  <li><i class="ion-checkmark-circled"></i>view incoming orders and update order status;</li>
                  <li><i class="ion-checkmark-circled"></i>view the sales revenue of my restaurant;</li>
                  <li><i class="ion-checkmark-circled"></i>identify active customers by their purchases.</li>
                </ul>
            </div>
        </ion-slide-page>
        <ion-slide-page>
            <div class="box">
                <div class="box">
                <h4 class="pageTitle">Developer</h4>
                <img src="img/about/favour.jpg" alt="jia guo" id="jiaPic">
                <p class="aboutJia">My name is Ogbonna Uchechi Favour.</p>
                <p class="aboutJia">2015/ND/19174/CS</p>
            </div>
            </div>
            </div>
        </ion-slide-page>
        <ion-slide-page>
            <div class="box">
                <h4 class="pageTitle">Project Supervisor</h4>
                <img src="img/about/ukaegbu.jpg" alt="jia guo" id="jiaPic">
                <p class="aboutJia">Mr. Ukaegbu C. C.</p>
            </div>
            </div>
        </ion-slide-page>
    </ion-slides>
</ion-content>
